@use "common/variables";

.hero__container {
  padding-top: 90px ;
  width: 1248px;
  margin-left: 323px;
  position: relative;
}

.hero-shadowText {
  font-family: variables.$plus;
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
  font-size: 55px;
  text-align: center;
  font-optical-sizing: auto;
  color: rgba(255, 248, 228, 0.05);
  z-index: 0;
}

.baloon {
  position: absolute;
  height: 500px;
  width: 500px ;
  border-radius: 50%;

}

.baloon__blue {
 background-color: rgba(47, 80, 245, 0.5);
  top: 1px;
  filter: blur(150px);
  z-index: -1;
}

.baloon__pink {
  background-color: rgba(142, 7, 176, 0.5);
  top: 70px;
  right: 300px;
  filter: blur(150px);
  z-index: -1;
}

.baloon__yellow {
  background-color: rgba(248, 192, 20, 0.5);
  top: 450px;
  right: -300px;
  filter: blur(200px);
  z-index: -1;
}


.bigWord {
  font-family: variables.$plus;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: uppercase;
  height: 200px;
}

.airdrop {
  background: linear-gradient(90deg, #F0B90B 0%, #FFE696 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 200px;
  font-weight: bold;
}


.word  {
  font-size: 200px;
  font-weight: bold;
  align-self: flex-end;
  background: linear-gradient(90deg, #F0B90B 0%, #FFE696 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txtblur {
  font-family: variables.$plus;;
  color: rgba(255, 248, 228, 0.4);
  font-size: 25px;
}

